<div class="sudu-item editable">
    <div
        *ngIf="tempArr.length===undefined"
        class="choosen-item"
        (click)="returnToTest($event)"
        (contextmenu)="returnToTest($event)"
    >{{tempArr}}</div>
    <ng-container *ngIf="tempArr.length>=0">
        <div
            *ngFor="let item of templateItems; let index = index; trackBy: trackByFn"
            class="temp-item"
            (click)="changeTestItem(index)"
            (contextmenu)="confirmItem($event,index)"
            (dblclick)="confirmItem($event,index)"
        >
            <span [hidden]="!item">{{index+1}}</span>
        </div>
    </ng-container>
</div>
