<div class="sudu-container">
    <button class="intro" (click)="showIntro()">操作说明</button>
    <div class="container-border"></div>
    <ng-container *ngFor="let row of suduData; let y = index; trackBy: trackByFn">
        <ng-container *ngFor="let item of row;let x = index; trackBy: trackByFn2">
            <app-sudu-item
                *ngIf="item !== '.'"
                [item]="item"
                [style.backgroundColor]="validArr[y][x]?'pink':''"
            ></app-sudu-item>
            <app-sudu-editable-item
                *ngIf="item === '.'"
                [tempArr]="editableData[y][x]"
                (confirm)="onConfirm($event,y,x)"
                [style.backgroundColor]="validArr[y][x]?'pink':''"
            ></app-sudu-editable-item>
        </ng-container>
    </ng-container>
    <app-bottom-controller
        [bottomControl]="bottomControl"
        [time]="time"
        (currChange)="onCurrChange($event)"
        (autoSolve)="onAutoSolve()"
        (stepSolve)="onStepSolve()"
    ></app-bottom-controller>
</div>
