<!-- 每个格子又分为9个小宫格，左键点击即在宫格内显式相应数字，此数字仅用于辅助。对小宫格点击右键，则确定这一格真正的数字。若确定的数字有冲突，会显示粉红色。 -->
<div class="sudu-container">
    <button class="intro" (click)="showIntro()">游戏说明</button>
    <div class="container-border"></div>
    <ng-container *ngFor="let row of suduData; let y = index; trackBy: trackByFn">
        <ng-container *ngFor="let item of row;let x = index; trackBy: trackByFn2">
            <app-sudu-item
                *ngIf="item !== '.'"
                [item]="item"
                [style.backgroundColor]="validArr[y][x]?'pink':''"
            ></app-sudu-item>
            <app-sudu-editable-item
                *ngIf="item === '.'"
                [tempArr]="editableData[y][x]"
                (confirm)="onConfirm($event,y,x)"
                [style.backgroundColor]="validArr[y][x]?'pink':''"
            ></app-sudu-editable-item>
        </ng-container>
    </ng-container>
    <app-bottom-controller
        [bottomControl]="bottomControl"
        [time]="time"
        (currChange)="onCurrChange($event)"
        (autoSolve)="onAutoSolve()"
        (stepSolve)="onStepSolve()"
    ></app-bottom-controller>
</div>
