<footer class="footer">
    <div>
        <button (click)="onChange(-1)">上一题</button>
    </div>
    <div>
        <button (click)="onChange(1)">下一题</button>
    </div>
    <div>
        <label>
            当前：
            <select [(ngModel)]="current" (change)="onChange(0)">
                <option *ngFor="let item of total" value="{{item}}">第{{item}}题</option>
            </select>
        </label>
    </div>
    <div>耗时（ms）：{{time}}</div>
    <div>
        <button (click)="onAutoSolve()">自动求解</button>
    </div>
    <div>
        <button (click)="onStepSolve()">分步求解</button>
    </div>
    <div>共{{total?.length}}题</div>
</footer>
