.sudu-item{
    box-sizing: border-box;
    border: 1px solid grey;
    width:70px;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "lucida handwriting","comic sans ms",cursive;;
    color:red;
}
